<%= notice %>
<h1>Student Dashboard</h1>

<h3>Available Quizzes</h3>
<table class="table table-striped">
<% @available_quizzes.map do |quiz| %>
  <tr>
    <td><%= link_to quiz.title, quiz_path(quiz) %></td>
  </tr>
<% end %>
</table>