

  <div id="welcome_page">

  <div class="title_block">
    <h1> <logo> Quiz Project Title goes here </logo> <br> funny thing here </h1>

</div>
<div class="button">
    <p> One of us? </p><%= link_to "Sign up", new_user_path %>
  </div>
  <div>
<h2>TOP SCORES!!!</h2>


<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Percent Correct</th>
  </tr>
<% @complete_submissions.each do |submission| %>
  <tr>
    <td><%= User.find(submission.user_id).name %></td>
    <td><%= submission.correct / submission.possible %></td>
  </tr>
<% end %>
</table>

  </div>
    </div>
