

<div id="welcome_page">

  <header>
    <h1 class="title">Quiz Show</h1>
    <hr class="star-light">
    <span id="sub-text" class="skills">check your brain</span>
  </header>

   <div class="container join-us">
      <h3 id='join' class="lead"> JOIN US? </h3>
        <div class="text-center" >
          <a href="<%=new_user_path%>" class="btn btn-default" id="sign-up" role="button">SIGN UP</a>
        </div>
  </div>

    <h2 class="top-scores">TOP SCORES!!!</h2>

    <table class="table table-striped welcome-table">
      <tr>
        <th>User</th>
        <th>Percent Correct</th>
      </tr>
      <% @complete_submissions.each do |submission| %>
      <tr>
        <td><%= User.find(submission.user_id).name %></td>
        <td><%= submission.correct / submission.possible %></td>
      </tr>
      <% end %>
    </table>


</div>
