

<div id="welcome_page">

  <header>
       <div class="container" id="maincontent" tabindex="-1">
           <div class="row">
               <div class="col-lg-12">
                   <img class="img-responsive" src="http://g2.start.no/quiz/userfiles/105000/105413/119513/front.png" alt="">
                   <div class="intro-text">
                       <h1 class="name">Quiz Project Title goes here</h1>
                       <hr class="star-light">
                       <span class="skills">funny thing here</span>
                   </div>
               </div>
           </div>
       </div>
   </header>

  <h3 class="join-us"> One of us? </h3>
  <div class="btn-group">
    <%= link_to "Sign up", new_user_path %>

  </div>
  <div>
    <h2>TOP SCORES!!!</h2>

    <table class="table table-striped">
      <tr>
        <th>User</th>
        <th>Percent Correct</th>
      </tr>
      <% @complete_submissions.each do |submission| %>
      <tr>
        <td><%= User.find(submission.user_id).name %></td>
        <td><%= submission.correct / submission.possible %></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>
