// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ruby {
 background-image: url(http://iwanttolearnruby.com/images/ruby-quiz.png);
 width: 100vw;
 height: 25vh;
 margin-top: -4vh;
 margin-bottom: -13vh;
}
