// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quiz-edit-form .main-form-row {
  margin-bottom: 3vh;
}

.quiz-edit-form input {
  margin: 0;
  width: 30%;
}

