// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ruby {
 background: url(http://iwanttolearnruby.com/images/ruby-quiz.png) repeat-x center top;
 width: 100vw;
 height: 29vh;
 margin-top: -4vh;
 padding-top: 3vh;
 margin-bottom: 5vh;
 color: #FFF;
 text-shadow: 1px 1px #333;
 z-index: -2;
}


.quiz-edit-form .main-form-row {
  margin-bottom: 3vh;
}

.quiz-edit-form input {
  margin: 0 3vw;
  display: inline;
}

.quiz-edit-form .radio span {
  display: inline;
}

.quiz-edit-form label {
  display: flex;
}

.result-text {
  font-size: 2em;
  font-weight: bold;
}
