// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2, h3{
  text-align: center;
}

.join-us{
  margin: 3vw;
}
// .btn{
//   width: 200px;
//   height: 100px;
// }
.top-scores{
  font-weight: 200;
  font-size: 4vw;
  opacity: 0.5;
  border-bottom: 2px dashed black;
  border-top: 2px dashed black;
  margin-bottom: 3vw;
  padding-bottom: 2vw;
  padding-top: 2vw;
  margin-left: 4vw;
  margin-right: 3vw;
}

th{
  font-size: 3vw;
  font-weight: lighter;
  background-color: rgb(24, 188, 156);
}

#sub-text{
  padding-top: 0vw;
  padding-bottom: 3vw !important;
  font-size: 3vw;
}

h3{

  border-top: 2px dashed black;
  opacity: 0.5;
}

#button-text{
  font-size: 2vw;
}

#maincontent{
  margin-top:  0vw;

}

#navbar {
    margin-bottom: 0;
}

header{
  text-align:center;
  background:#18BC9C;
  color:#fff;
  padding-top: 10vw;
  padding-bottom: 3vw;
}

header .container{
  padding-top:100px;
  padding-bottom:50px;
}

.title{
  font-size: 6vw;
  padding-bottom: 3vw;
}
#join{
  font-size: 3vw;
  padding-top: 2vw;
}

td{
  font-size: 2vw;
  opacity: 0.5;
}

#sign-up{
  padding-top: 1vw;
  font-size: 2.5vw;
  opacity: 0.9;
  background-color: rgb(24, 188, 156);
  border-radius: 10%;
  color: white;
}

a{
  opacity: .5;
}

// .star-lite{
//     padding:0;
//     border:none;
//     border-top:solid 5px;
//     text-align:center;
//     max-width:250px;
//     margin:25px auto 30px
//   }

.welcome-table{
  background-color: grey;
}
.img-responsive{
  z-index: 1;
position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{

z-index: 100;
position: absolute;
left: 45vw;
 top: 26vw;
 font-size: 3vw;
}
